src/main/resources/schemas/unified/formatClass.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="classes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="class" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:string"/>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="time" type="xs:string" minOccurs="0"/>
                            <xs:element name="score" type="xs:string"/>
                            <xs:element name="teacher" type="xs:string"/>
                            <xs:element name="location" type="xs:string"/>
                            <xs:element name="share" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
