src/main/resources/schemas/local/choiceB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Choices">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="choice" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="课程编号" type="xs:string"/>
                            <xs:element name="学号" type="xs:string"/>
                            <xs:element name="得分" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
