src/main/resources/schemas/local/classC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Classes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="class" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Cno" type="xs:string"/>
                            <xs:element name="Cnm" type="xs:string"/>
                            <xs:element name="Ctm" type="xs:string" minOccurs="0"/>
                            <xs:element name="Cpt" type="xs:string"/>
                            <xs:element name="Tec" type="xs:string"/>
                            <xs:element name="Pla" type="xs:string"/>
                            <xs:element name="Share" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
