src/main/resources/schemas/local/studentB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Students">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="学号" type="xs:string"/>
                            <xs:element name="姓名" type="xs:string"/>
                            <xs:element name="性别" type="xs:string" minOccurs="0"/>
                            <xs:element name="专业" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
